.section_2{
    height: 400px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2_row{
    display: flex;
}
.sec2_block{
    width:280px;
    height:120px;
    margin:15px;
    border: 1px solid rgba(188, 211, 184, 0.691);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px, rgba(0, 0, 0, 0.12) 0px 0px 10px, rgba(0, 0, 0, 0.12) 0px 0px 30px, rgba(0, 0, 0, 0.17) 0px 0px 10px, rgba(0, 0, 0, 0.09) 0px 0px 10px;
    }
.sec2_block_item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sec2_block_img{
    width: 65px;
    height: 65px;
    margin: 20px;
}
img{
    width: 100%;
}
.sec2_block_name{
    font-size: 25px;
    font-weight: 300;
}